[Unit]
Description=Open vSwitch
After=ovsdb-server.service ovs-vswitchd.service networking.service
PartOf=network.target
Requires=ovsdb-server.service
Requires=ovs-vswitchd.service
Requires=networking.service
Before=network-online-digitalocean.service
RequiredBy=network-online-digitalocean.service

[Service]
Type=oneshot
ExecStart=/sbin/ifup --allow=ovs br0
ExecReload=/usr/share/openvswitch/scripts/ovs-systemd-reload
ExecStop=/sbin/ifdown --allow=ovs br0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
